/* 카테고리별 추천 광고상품 */

* {
    margin: 0;
  }
  
  body {
    width: 100vw;
    height: 100vh;
  }
  
  .container {
    width: 100%;
    height: 100%;
    position: relative;
    top: 100px;
  }
  
  a {
    text-decoration: none;
  }
  
  header {
    position: relative;
    width: 1020px;
    margin: 0 auto 48px;
  }
  
  .wrapper {
    position: relative;
    width: 1020px;
    margin: 0 auto;
  }
  
  /* section */
  
  section h3 {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-black);
  }
  
  section h2 {
    font-size: 24px;
    font-weight: 700;
    color: var(--color-black);
  }
  
  section .suggestion-product {
    font-size: 24px;
    font-weight: 700;
    color: var(--color-blue-600);
  }
  
  /* article */
  
  article {
    position: relative;
    width: 1022px;
    height: 631px;
  }
  
  article::before {
    content: '';
    width: 1020px;
    height: 1.17px;
    background-color: var(--color-brown-300);
    display: inline-block;
    position: relative;
    left: -15px;
  }
  
  article::after {
    content: '';
    width: 1020px;
    height: 1.17px;
    background-color: var(--color-brown-300);
    display: inline-block;
    position: relative;
    left: -15px;
    top: -15px;
  }
  
  article:last-child {
    margin-top: 11px;
  }
  
  article:last-child:before {
    content: '';
    width: 1020px;
    height: 1.17px;
    background-color: var(--color-green-700);
    display: inline-block;
    position: relative;
    left: -15px;
  }
  
  article:last-child:after {
    content: '';
    width: 1020px;
    height: 1.17px;
    background-color: var(--color-green-700);
    display: inline-block;
    position: relative;
    left: -15px;
    top: -15px;
  }
  
  article .first {
    position: relative;
  }
  
  article h2 {
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: var(--color-brown-300);
    margin: 48px 0 8px 0;
  }
  
  article:last-child h2 {
    color: var(--color-green-700);
  }
  
  article .nav {
    position: relative;
    font-size: 14px;
    font-weight: 700;
    color: var(--color-gray-700);
  }
  
  article .nav-img {
    background-image: url('../../assets/icon/angle-right-default.svg');
    display: inline-block;
    width: 6px;
    height: 10px;
    margin-left: 4px;
  }
  
  article .hot {
    position: relative;
    font-size: 18px;
    font-weight: 500;
    color: var(--color-back);
    margin: 248px 0 20px 0;
  }
  
  article .keyword a {
    display: table;
    border: 1px solid var(--color-gray-400);
    font-size: 12px;
    font-weight: 400;
    color: var(--color-brown-300);
    padding: 6px 10px;
    margin-bottom: 12px;
  }
  
  article:last-child .keyword a {
    color: var(--color-green-700);
  }
  
  /* article .bannerwrap */
  
  article .bannerwrap {
    position: absolute;
    top: 16px;
    left: 174px;
  }
  
  article .bannerwrap .banner {
    width: 320px;
    height: 631px;
  }
  
  article .bannerwrap .hidden {
    display: none;
  }
  
  article .bannerwrap .banner .banner-box {
    position: absolute;
    z-index: 1;
    width: 260px;
    height: 90px;
    top: 483px;
    left: 30px;
    background-color: var(--color-brown-300);
    color: var(--color-white);
  }
  
  article:last-child .bannerwrap .banner .banner-box {
    background-color: var(--color-green-700);
  }
  
  article .bannerwrap .banner .banner-box h3 {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin: 19px 0 8px 0;
  }
  
  article .bannerwrap .banner .banner-box p {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }
  
  article .bannerwrap .banner .indicator-wrap {
    position: absolute;
    display: flex;
    top: 597px;
    left: 144px;
    width: 32px;
    height: 12px;
  }
  
  article .bannerwrap .banner .indicator-wrap .indicator01 {
    background-color: var(--color-gray-700);
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    margin-right: 8px;
  }
  
  article .bannerwrap .banner .indicator-wrap .indicator02 {
    background-color: var(--color-gray-600);
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50px;
  }
  
  /* article .product */
  
  article .products {
    position: absolute;
    top: 9px;
    left: 510px;
    display: flex;
    flex-wrap: wrap;
    width: 526px;
    height: 631px;
  }
  
  article .products .product {
    width: 160px;
    height: 300px;
    padding: 12px;
  }
  
  article .products .product:first-child::after {
    content: '';
    width: 528px;
    height: 0.5px;
    display: inline-block;
    background-color: var(--color-gray-600);
    position: absolute;
    left: -16px;
    top: 320px;
  }
  
  article .products .product p {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-black);
  }
  
  article .products .product .special-price {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-red-500);
    margin-top: 12px;
  }
  
  article .products .product h4 {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: var(--color-black);
    margin-top: 12px;
  }
  
  article .products .product h4 span {
    font-size: 14px;
    font-weight: 400;
  }
  
  article .products .product .rocket-delivery {
    display: inline-block;
  }