/* 카테고리별 추천 광고상품 */
.container{
    position: relative;
    width: 1280px;
    height: 2000px;
}

.logo{
    position: absolute;
    width: 246px;
    height: 56px;
    left: 139px;
    top: 100px;
}

.CategoryBest{
    position: absolute;
    width: 1020px;
    height: 1376px;
    left: 130px;
    top: 204px;
}

.CategoryBestHeadline{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 301px;
    height: 46px;
    left: 0px;
    top: 0px;
}

.hotTrend{
    /*width: 94px;*/
    height: 18px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 115%;
    /* or 18px */

    margin: 0px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.Title{
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
    padding: 0px;
    gap: 10px;

    width: 301px;
    height: 28px;

/* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.Title1{
    /*width: 120px;*/
    height: 28px;

    /* Title/Bold/24 */

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 115%;
    /* identical to box height, or 28px */

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

    margin: 0px;
}


.Title2{
    width: 180px;
    height: 28px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 115%;

    display: flex;
    align-items: center;

    /* Blue/600 */

    color: #0074E9;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

    margin: 0px;
}



article{
    position: relative;
    width: 1022px;
    height: 1292px;
    left: -2px;
    top: 70px;
}

#CategoryBestSection1{
    position: absolute;
    width: 1022px;
    height: 634px;
    left: -2px;
    top: 0px;

}

#CategoryBestSection2{
    position: absolute;
    width: 1022px;
    height: 634px;
    left: -2px;
    top: 658px;
}

#BorderTop1{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 99.82%;

    /* Brown/300 */

    background: #9D7A6D;
}

#BorderBottom1{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 99.82%;
    bottom: 0%;

    /* Brown/300 */

    background: #9D7A6D;
}


#CategoryTitle1{
    position: absolute;
    width: 99px;
    height: 28px;
    left: 24px;
    top: 48px;

    /* Title/Medium/24 */

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 115%;
    /* identical to box height, or 28px */


    /* Brown/300 */

    color: #9D7A6D;
}

#CategoryTitle2{
    position: absolute;
    width: 99px;
    height: 28px;
    left: 24px;
    top: 48px;

    /* Title/Medium/24 */

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 115%;
    /* identical to box height, or 28px */

    /* Green/700 */
    color: #00B599;
}

.goLink{
    position: absolute;
    width: 62px;
    height: 17px;
    left: 24px;
    top: 84px;

    /* box-sizing: border-box; */

    /* Text/Bold/14 */

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    /* identical to box height, or 17px */


    /* Gray/700 */

    color: #767676;
}

.LeftOpenArrow {
    position: relative;
    width: 6px;
    height: 10px;
    left: 90px;
    top: 84px;
    margin-right: 0px;
}

.LeftOpenArrow img{
    position: absolute;
    margin-right: 0px;
}

.HotKeywords{
    position: absolute;
    width: 92px;
    height: 21px;
    left: 24px;
    top: 349px;
}

#HashTagGroup{
    position: absolute;
    width: 124px;
    height: 240px;
    left: 24px;
    top: 382px;
}

#HashTagContainer1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 10px;
    gap: 5px;

    position: absolute;
    width: 72px;
    height: 26px;
    left: 0px;
    top: 8px;

    /* White */

    background: #FFFFFF;
    /* Gray/400 */

    border: 1px solid #CCCCCC;
}

#HashTagContainer2{
   box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 10px;
    gap: 5px;

    position: absolute;
    width: 94px;
    height: 26px;
    left: 0px;
    top: 46px;

    /* White */

    background: #FFFFFF;
    /* Gray/400 */

    border: 1px solid #CCCCCC;
}

#HashTagContainer3{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 10px;
    gap: 5px;

    position: absolute;
    width: 94px;
    height: 26px;
    left: 0px;
    top: 84px;

    /* White */

    background: #FFFFFF;
    /* Gray/400 */

    border: 1px solid #CCCCCC;
}

#HashTagContainer4{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 10px;
    gap: 5px;

    position: absolute;
    width: 94px;
    height: 26px;
    left: 0px;
    top: 122px;

    /* White */

    background: #FFFFFF;
    /* Gray/400 */

    border: 1px solid #CCCCCC;
}

#HashTagContainer5{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 10px;
    gap: 5px;

    position: absolute;
    width: 94px;
    height: 26px;
    left: 0px;
    top: 160px;

    /* White */

    background: #FFFFFF;
    /* Gray/400 */

    border: 1px solid #CCCCCC;
}

#HashTagContainer6{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 10px;
    gap: 5px;

    position: absolute;
    width: 117px;
    height: 26px;
    left: 0px;
    top: 198px;

    /* White */

    background: #FFFFFF;
    /* Gray/400 */

    border: 1px solid #CCCCCC;

    }

#HashTagBrown1{
    width: 60px;
    height: 14px;

    /* Text/Regular/12 */

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    /* or 14px */


    /* Brown/300 */

    color: #9D7A6D;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#HashTagBrown2{
    width: 60px;
    height: 14px;

    /* Text/Regular/12 */

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    /* or 14px */


    /* Brown/300 */

    color: #9D7A6D;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#HashTagBrown3{
    width: 80px;
    height: 14px;

    /* Text/Regular/12 */

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    /* or 14px */


    /* Brown/300 */

    color: #9D7A6D;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#HashTagBrown4{
    width: 80px;
    height: 14px;

    /* Text/Regular/12 */

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    /* or 14px */


    /* Brown/300 */

    color: #9D7A6D;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#HashTagBrown5{
    width: 80px;
    height: 14px;

    /* Text/Regular/12 */

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    /* or 14px */


    /* Brown/300 */

    color: #9D7A6D;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#HashTagBrown6{
    width: 105px;
    height: 14px;

    /* Text/Regular/12 */

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    /* or 14px */


    /* Brown/300 */

    color: #9D7A6D;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#HashTagMint1{
    width: 68px;
    height: 14px;

    /* Text/Regular/12 */

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    /* or 14px */


    /* Green/700 */

    color: #00B599;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#HashTagMint2{
    width: 94px;
    height: 14px;

    /* Text/Regular/12 */

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    /* or 14px */


    /* Green/700 */

    color: #00B599;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#HashTagMint3{
    width: 47px;
    height: 14px;

    /* Text/Regular/12 */

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    /* or 14px */


    /* Green/700 */

    color: #00B599;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#HashTagMint4{
    width: 47px;
    height: 14px;

    /* Text/Regular/12 */

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    /* or 14px */


    /* Green/700 */

    color: #00B599;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#HashTagMint5{
    width: 47px;
    height: 14px;

    /* Text/Regular/12 */

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    /* or 14px */


    /* Green/700 */

    color: #00B599;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#HashTagMint6{
    width: 47px;
    height: 14px;

    /* Text/Regular/12 */

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    /* or 14px */


    /* Green/700 */

    color: #00B599;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}


#SlideBanner1{
    position: absolute;
    width: 320px;
    height: 631px;
    left: 174px;
    top: 1px;

    background-image: url('/assets/slides/houseware-downy.jpg');
}

#SlideBannerText{
    position: absolute;
    width: 260px;
    height: 90px;
    left: 30px;
    top: 483px;

    /* Brown/300 */
    background: #9D7A6D;
}

#SlideBannerLarge{
    position: absolute;
    width: 205px;
    height: 24px;
    left: 28px;
    top: 19px;

    /* Text/Bold/18 */

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    /* or 22px */

    text-align: center;

    /* Grayscale/white/white */
    color: #FFFFFF;
}

#SlideBannerSmall{
    position: absolute;
    width: 219px;
    height: 19px;
    left: 23px;
    top: 51px;

    /* Text/Regular/14 */

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    /* or 17px */

    text-align: center;

    /* Grayscale/white/white */

    color: #FFFFFF;
}

#SlideBanner2{
    position: absolute;
    width: 320px;
    height: 631px;
    left: 174px;
    top: 1px;


    background-image: url('/assets/slides/kitchenware-tumbler.jpg');
}

#SlideBannerText2{
    position: absolute;
    width: 260px;
    height: 90px;
    left: 30px;
    top: 483px;

    /* Green/700 */

    background: #00B599;
}

.IndicateGroup{
    width: 32px;
    height: 12px;
    left: 144px;
    top: 597px;

    display: flex;
}

.Indicate1{
    position: absolute;
    width: 12px;
    height: 12px;
    left: 144px;
    top: 597px;

    border-radius: 50%;

    /* Gray/700 */

    background: #767676;
}

.Indicate2{
    position: absolute;
    width: 12px;
    height: 12px;
    left: 164px;
    top: 597px;

    border-radius: 50%;
    /* Gray/600 */

    background: #AAA9A9;
}

.Group{
   position: relative;
    width: 528px;
    height: 634px;
    left: 494px;
    top: 0px; 
}

.Group1{
    position: absolute;
    width: 528px;
    height: 300px;
    left: 0px;
    top: 9px; 

    display:flex;
    justify-content: center;
    /* align-content: space-around; */
}

.Group1::after{
    position: absolute;
    width: 528px;
    height: 1px;
    top: 308px;

    content: "";

    background: #AAA9A9;
}

.ProductCard{
    position: relative;
    margin-left: 16px;
}

.ProductInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;

    position: absolute;
    width: 152px;
    height: 94px;
    left: 4px;
    top: 172px;
}

.ProductName{
    width: 170px;
    height: 34px;

    /* Text/Regular/14 */
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    justify-content: center;
}

.PriceType{
    position: absolute;
    left: 0%;
    right: 57.24%;
    top: 48.94%;
    bottom: 32.98%;
    width: 124px;
    /* Text/Regular/14 */

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    /* identical to box height, or 17px */

    /* Red/500 */

    color: #E52330;
}

.PriceDelivery{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 6px;

    position: absolute;
    width: 135px;
    height: 27px;
    left: 0px;
    top: 67px;
}

.PriceNum{
    width: 58px;
    height: 27px;

    /* padding-right:0px; */

    /* PriceBoldText */

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}


.PriceWon{
    width: 15px;
    height: 20px;
    top: 3px;
    margin-left: 10px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-size: 14px;
    line-height: 120%;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

    /* margin-bottom: 0px; */
}

.Delivery{
    width: 54px;
    height: 14px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}



.Group2{
    position: absolute;
    width: 528px;
    height: 300px;
    left: 0px;
    top: 325px;

    display:flex;
}

#BorderTop2{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 99.82%;

    /* Green/700 */

    background: #00B599;
}

#BorderBottom2{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 99.82%;
    bottom: 0%;

    /* Green/700 */

    background: #00B599;
}